body{
	margin: auto 0;
}

#headLine{
	background-color: #20315a;
	height:100px;
	width:100%;
	color:white;
	font-size:30px;
	text-align:center;
	line-height:45px;
	border-radius: 5px;
	
}

#searchBox, #divToDump{
	margin-top:10px;	
	border: solid 1px #2c3e50;
	border-radius: 5px;
	padding:0px;
	

}

#searchHeader{
	background-color: #2c3e50;
	padding:20px;
	color:white;

}

.input-group{
	margin:10px;
	padding:0px 10px;
}

input{
	width:90%;
}

#divToDump{
	background-color: #2c3e50;	
	color:white;
	border-radius: 5px;

}

.btn-default {
	color:white;
	background-color:#95a5a6;
	
}

#buttonDiv{
	padding: 0px 0px 10px 20px;
}